body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    font-size: 1rem;
    text-align: center;
    color: #404040;
}

 /* =================
   Typography 
   =================  */

h1 {
    font-size: 2.25rem;
    font-weight: 300;

}

h1 + p {
    color: #F18119;
    font-weight: 900;
    font-size: 1.3125rem;
    text-transform: uppercase;
}

strong {
    font-weight: 900;
}

.top-text {
    font-size: .625rem;
    font-weight: 900;
    color: #F18119;
    text-transform: uppercase;
    letter-spacing: 2px;

}

h2 {
    font-size: 1.3125rem;

}

h2 + p {
    text-transform: uppercase;
    color: #F18119;
    font-weight: 900;
    font-size: 1rem;
}

.fine-print {
    font-size: .625rem;
    letter-spacing: 1px;
}

/* =================
   Layout 
   =================  */

   